#click{
    font-size: 20px;
    background-color: rgb(20, 241, 241);
    border: 2px solid gray;
    border-radius: 6px;
    display: inline-block;
}

#click:hover{
    background-color: rgb(255, 171, 4);
}

#click:active{
    background-color: red;
}

a:link{
    color: hsl(271, 92%, 51%);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: hsl(294, 92%, 51%);
    font-size: 22px;
}

a:active{
    color: hsl(334, 95%, 42%);
}

a:visited{
    color: hsl(294, 92%, 51%);
}

ul li{
    list-style: none;
}

li:hover{
    background-color: hsl(0, 0%, 0%);
    color: aliceblue;
}

li:not(:hover){
    background-color: hsl(0, 100%, 50%);
    color: aliceblue;
}

li:nth-child(7){
    background-color: blue;
    color: black;
}

#greeting p{
    background-color: red;
    color: white;
    font-size: 20px;
    display: none;
}

#greeting:hover p{
    display: block;
}